<h5 style="margin-top: 2rem">Clients</h5>

<div class="col s12" style="padding-left: 0px;" *ngFor="let client_id of client_keys; let i=index">
  <div class="card-panel grey lighten-2 black-text hover-element">
    <div class="row">
      <div class="col l11">
        <h5>Client_ID:  {{client_id}}</h5>
      </div>
      <div class="col l1">
        <i *ngIf="clients[client_id].active" class="material-icons green-text iconStyle">brightness_1</i>
        <i *ngIf="!clients[client_id].active" class="material-icons red-text iconStyle">brightness_1</i>
      </div>
    </div>

    <!--LIVE DATA-->
    <div class="row" *ngIf="clients[client_id].active" style="margin: 0;">
      <div class="col s12">
        <i class="material-icons right" style="cursor: pointer;" *ngIf="!clients[client_id].open"
          (click)="clients[client_id].open = true">keyboard_arrow_down</i>
        <i class="material-icons right" style="cursor: pointer;" *ngIf="clients[client_id].open"
          (click)="clients[client_id].open = false">keyboard_arrow_up</i>
      </div>
      <div class="col s12" *ngIf="clients[client_id].open">
        <div class="row">
          <b>Meta Data:</b>
          <div class="col s12 dataCol">
            <div class="dataRow">Timestamp: {{clients[client_id].data.raw.timestamp | date: 'short'}}</div>
            <div class="dataRow">Frame: {{clients[client_id].data.raw.frame }}</div>
            <div class="dataRow">Confidence: {{clients[client_id].data.raw.landmark_detection_confidence * 100}} %</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="padding: 0px">
            <b>Gaze:</b>
          </div>
          <div class="col s6 dataCol">
            <div class="dataRow">gaze_0_x: {{clients[client_id].data.raw.gaze_direction_0_x }}</div>
            <div class="dataRow">gaze_0_y: {{clients[client_id].data.raw.gaze_direction_0_y }}</div>
            <div class="dataRow">gaze_0_z: {{clients[client_id].data.raw.gaze_direction_0_z }}</div>
          </div>
          <div class="col s6 dataCol">
            <div class="dataRow">gaze_1_x: {{clients[client_id].data.raw.gaze_direction_0_x }}</div>
            <div class="dataRow">gaze_1_y: {{clients[client_id].data.raw.gaze_direction_0_y }}</div>
            <div class="dataRow">gaze_1_z: {{clients[client_id].data.raw.gaze_direction_0_z }}</div>
          </div>
          <div class="col s6 dataCol">
              <div class="dataRow">gaze_angle_x: {{clients[client_id].data.raw.gaze_angle_x }}</div>
              <div class="dataRow">gaze_angle_y: {{clients[client_id].data.raw.gaze_angle_y }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12" style="padding: 0px">
            <b>Position:</b>
          </div>
          <div class="col s6 dataCol">
            <div class="dataRow">pose_Rx: {{clients[client_id].data.raw.pose_Rx }}</div>
            <div class="dataRow">pose_Ry: {{clients[client_id].data.raw.pose_Ry }}</div>
            <div class="dataRow">pose_Rz: {{clients[client_id].data.raw.pose_Rz }}</div>
          </div>
          <div class="col s6 dataCol">
            <div class="dataRow">pose_Tx: {{clients[client_id].data.raw.pose_Tx }}</div>
            <div class="dataRow">pose_Ty: {{clients[client_id].data.raw.pose_Ty }}</div>
            <div class="dataRow">pose_Tz: {{clients[client_id].data.raw.pose_Tz }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
