
<div class="container">
  <div class="row">
    <div class="col s4" style="margin-top: 2rem" *ngFor="let client of config | keyvalue">
      <div class="card-panel white">
        <h5>Client_ID: <b>{{client.key}}</b></h5>
        <div *ngFor="let item of client.value | keyvalue">
          <div class="row" style="margin-bottom:0px; padding-left: 1rem;">
            <b>{{item.key}}:</b>
            <div class="input-field inline" style="margin-left: 1rem; width: 80%;">
              <input [(ngModel)]="item.value" class="validate">
            </div>
          </div>
        </div>
        <div style="padding: 1rem; padding-right:0px">
          <i class="material-icons blue-text hover-element" (click)="duplicateClient(client.key)">content_copy</i>
          <i class="material-icons blue-text hover-element" (click)="deleteClient(client.key)" style="margin-left: 1rem">delete</i>
        </div>
      </div>
    </div>
    <div class="col s2" style="margin-top: 2rem">
      <div class="card-panel blue white-text hover-element" (click)="addNewClient()">
        <p class="center-align" style="font-size: 1.5rem">
          <i class="inline-icon material-icons white-text">add</i>
          New client
        </p>
      </div>
    </div>
    <div class="col s2" style="margin-top: 2rem">
        <div class="card-panel deep-orange white-text hover-element" (click)="saveConfig()">
          <p class="center-align" style="font-size: 1.5rem">
            <i class="inline-icon material-icons white-text">save</i>
            Save
          </p>
        </div>
      </div>
  </div>
  <div *ngIf="show_error" class="col s12" style="margin-top: 2rem">
      <div class="card-panel red white-text hover-element">
        <p class="center-align" style="font-size: 1.5rem">
          <i class="inline-icon material-icons white-text">error</i>
          Could not connect to server.
        </p>
      </div>
    </div>
</div>
